@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");



:root{
    --cor-principal:  #f60fb1;
     --cor-secundaria:#000000;
     --cor-destaque:  #49d3ec;
}


 body {
     color: var(--cor-principal);
     font-weight: 700;
 }

 h1,h2,h5 { 
    color: var(--cor-secundaria);
    font-weight: 700;
 }

 .lead.btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
 }

 a .btn-link:houver {
    color:var(--cor-principal)
 }

 a:hover {
    color:var(--cor-destaque);
 }

    
 

